# A
# Data Types
#Description 

Difine :- Datatype represents the different kinds of values that we store on the variable.

Learn about the primitive data type in python.

      1.Strings      : str → "Hello", 'Python'
      2.Integers     : int → 10, 5, -3
      3.Floats       : float → 10.5, 3.14
      4.complex      : complex → 2+3j
      5.Booleans     : bool → True, False
      6.Dictionary   : dict → {"name": "Nisha", "age": 21}
      7.List         : list → [1, 2, 3, "apple"]
      8.Tuple        : tuple → (1, 2, 3)
      9.Set          : set → {1, 2, 3}
      10.None        : noneType → None

#Note 
      :-1.We do not need to specify the data type explicitly ,based on values types   allocated automatically.

      :-2.Python is a dynamically typed language, which means
        (i)  You do NOT need to declare the data type of a variable.
        (ii) Python automatically understands the data type at runtime.

#What is a Dynamically Typed Language?

     :-A dynamically typed language is a language where:
        (i)  You don’t specify data types explicitly.
        (ii) The data type is decided while the program is running.

In [13]:
#For example :
X1=10                              #int
X2="Nisha"                         #str
X3=3.14                            #float
X4=True                            #bool
X5=[1, 2, 3, "apple"]              #list
X6={"name": "Nisha", "age": 21}    #dict
X7=(1, 2, 3)                       #tuple
X8={1, 2, 3}                       # set
print(X1,X2,X3,X4,X5,X6,X7,X8)
print(type(X1))
print(type(X2))
print(type(X3))
print(type(X4))
print(type(X5))
print(type(X6))
print(type(X7))
print(type(X8))

10 Nisha 3.14 True [1, 2, 3, 'apple'] {'name': 'Nisha', 'age': 21} (1, 2, 3) {1, 2, 3}
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

# print(type()):-

 Definition :-print(type()) is used to display the data type of a value or variable in               Python.
 
             (i) type()  → finds the data type
             (ii) print() → shows it on the screen

# Index 

It's means the position number of an item in a sequence (like string, list, tuple).

#Important rule

Index always starts from 0, not 1.

In [1]:
#For Example 
name = "Nisha"
print(name[0])  # N
print(name[1])  # i

N
i

In [2]:
#For Example 
fruits =["apple","banana","mango"]
print(fruits[0]) # positive 
print(fruits[2])

apple
mango

In [3]:
#For example 
print("Hello"[-1]) # negative

o

# 1.String 
Definition :- A string in Python is a sequence of characters used to store text.

          Explanation:
          1.String = text data
          2. It is written inside quotes
             (i).   " " (double quotes)
             (ii).  ' ' (single quotes)
             (iii). """ """ (triple quotes for multi-line text)

In [18]:
#For example :
name ='nisha'            #single quotes
name1="Amisha"          #double quotes
name2="""aaditya"""      #triple quotes
print(name,name1,name2)

nisha Amisha aaditya

 
#Note :-
         1.If we write anything inside single quotes (' '), double quotes (" "), or             triple quotes (""" """),
         then no matter whether it is letters, numbers, or symbols, Python treats it            as a string.

In [16]:
#For example 
XYZ ="123"
print(XYZ)

123

In [17]:
#For example 
XYZ1 = "123"
ABC  = "234"
print(XYZ1 + ABC) #concatenation

123234

#Note :-Python does not calculate 123 and 234 because the numbers 123 and 234 are written inside quotes (" "),Python treats them as strings, not as numbers.
The + operator here is used for concatenation, so it joins the two strings.

# 2.Integer

Definition : It is a whole number (no decimal point). It can be positive, negative, or zero.

         Important point
         (i)   10 → integer
         (ii)  10.5 → not integer (it is a float)
         (iii) "10" → not integer (it is a string)

In [20]:
#For example 
a = 10      # positive integer
b = -5      # negative integer
c = 0       # zero

print(a)
print(b)
print(c)

10
-5
0

Large Integers

In [23]:
#For example 
print(123_456_789)

123456789

#Note :-
Generally, we write large numbers like 113,456,789 using commas.
But in Python, we write large numbers using underscores (_), like this: 123_456_789.

# 3.Float 
Definition :- Float is a data type in Python that is used to store decimal numbers.

In [24]:
#For example 
price = 99.50
temperature = 36.6
pi = 3.14

print(price)
print(temperature)
print(pi)

99.5
36.6
3.14

# 4.Boolean
Definition :-
A Boolean is a data type that has only two possible values: True or False. It is used to represent truth values in logic, programming, and mathematics.

Boolean is used to represent yes/no, true/false, 1/0 type of conditions.

Note:-
   In Python (and many other programming languages):

    (i)   Boolean can only be True or False. 
    (ii)  These are capitalized: True, False (with first letter uppercase).
    (iii) Writing true or false in lowercase will give an error in Python.

In [27]:
#For example 
is_sunny = True   # Correct
is_raining = False  # Correct

In [29]:
#For example
is_sunny = true   # ❌ Incorrect in Python

NameError: name 'true' is not defined

Note :- In Python, Boolean values are case-sensitive. They must be written as True and False. Writing true or false in lowercase will cause an error.

# 5.Complex

:- Complex numbers are especially used in electronics, optics, and quantum theory for describing waves and periodic phenomena.

:-Fourier transform uses complex number.

    1.Audio signal processing in machine learning 
    2.Speech recognition system

:-A comlex number has real and imaginary part components.

              a+bj
              
              (being:- a =real part and bj=imaginary part)
              
             
    1.Real part – the normal number (like 2, 5, -3)
    2.Imaginary part – the part with j (like 3j, -4j)

#Syntax 

complex_number = real_part + imaginary_part * j

In [34]:
num= 5j
print(type(5j))

<class 'complex'>

In [35]:
num1= 3+6j
print(num1)
print(type(num1))

(3+6j)
<class 'complex'>

In [32]:
z = 2 + 3j
print(z.real)  # 2.0 → Real part
print(z.imag)  # 3.0 → Imaginary part

2.0
3.0

#Note:-Since 3 + 6j is a complex data type in Python, it is important to note that complex numbers can also have negative values and decimal (float) values.

       for example :-
       z1 = 3 + 6j        # positive complex number
       z2 = -3 - 6j      # negative complex number
       z3 = 2.5 + 4.7j   # float (decimal) complex number

# 6.Tuple 
:-Tuple is a data structure which is also called collection of items , in which we can store anything like (string ,float , integer)

        syntax)
        Tuple_name=(item1,item2,item3....itemn)

note:-

        1.we write the item of the tuple parenthesis "()" and each item is seperated by comma "," . 
         2.Duplicates are allowed 3.immutable in nature (it's meant we can't be change the value that is called immutable)

In [ ]:
var = (1,2,3,4,5,True ,"nisha",) 
print(var)
print(type(var))

NOTE :- If you store two or more values separated by commas under the parenthesis "()" , it becomes a tuple in Python. But if you store only a single value, like:

         #progarm var = 1 
         print(var) 
         print(type(var))

       (i)   Then the output will show that the variable is of integer type.
       (ii)  If you store multiple values separated by commas, Python treats them as a tuple.
       (iii) If you store only a single value (for example, var = 1), Python considers it an integer.

In [2]:
var1 = 1, # (that is allso tuple because 1 and , has been consider 2 value )
#(comma space hai phir bhe wo count hota hai ) 
print(var1)
print(type(var1))

(1,)
<class 'tuple'>

Find the tuple length
= print(len(var)) = ( lenght (len) is one type of function ))

In [3]:
var2 =(1,4,5,"shivam")
print(var2)
print(len(var2))

(1, 4, 5, 'shivam')
4

#Note:-
If you assine any another variable the tuple can't be support.

In [4]:
#important 
var=(1,2,3,4,5,6,"nisha")
var[1]="nisha"
print(var)

TypeError: 'tuple' object does not support item assignment

In [6]:
var=(1,2,3,4,5,6,"nisha")
N=var.index(6)
print(N)

5

#Note :
index:-
An index is used to find or access a variable’s value using its position number.

# important note
= In a tuple, the functions delete, insert, and append are not supported because tuple is immutable.

# 7.List
Definition :- A list in Python is a collection data type used to store multiple values in a single variable.

Key Features of List:-

    (i)   Written using square brackets [ ].
    (ii)  Can store different data types (int, float, string, boolean, etc.
    (iii) Ordered → items have fixed positions (index).
    (iv)  Mutable → values can be changed.
    (v)   Allows duplicate values.

In [7]:
my_list = [10, 20, 30, "apple", True, 2.5]
print(my_list)
print(type(my_list))

[10, 20, 30, 'apple', True, 2.5]
<class 'list'>

# 8.Dictionary
Definition :-
A dictionary in Python is a collection data type used to store data in key–value pairs.

Key Features of Dictionary:-

     (i)  Written using curly braces { }
    (ii)  Stores data as key : value
    (iii) Unordered (in older Python versions), insertion-ordered in modern Python
    (iv)  Mutable → values can be changed
    (v)   Keys must be unique
    (vi)  Values can be of any data type

In [8]:
# For example :-
student = {
    "name": "Nisha",
    "age": 21,
    "course": "Python",
    "is_active": True
}

print(student)
print(type(student))

{'name': 'Nisha', 'age': 21, 'course': 'Python', 'is_active': True}
<class 'dict'>

# B 
# Type Error, Checking and Conversion 

# 1.Type Error

#Description 

Type Error 

:-These error occur when you are using the worng data type . e.g len(12345)

  Because you can only give the len() function Strings, it wll refuse to work and give you a TypeError if you give it a number(Integer).

#PAUSE 1.Fix the len() function so it has no more warning or errors.

note
:-Below is the link where you can get Python library link.

In [4]:
url = "https://docs.python.org/3/library/functions.html"
print(url)

https://docs.python.org/3/library/functions.html

In [5]:
from IPython.display import HTML

HTML('<a https://docs.python.org/3/library/functions.html')

In [7]:
from IPython.display import HTML, display

display(HTML("""
<font color="blue">This is blue text</font><br>
<font color="red">This is red text</font><br>
<a href="https://docs.python.org/3/library/functions.html">
This is the link text
</a>
"""))


        Syntax
        len(object)

:- What len() returns

     (i)  String → number of characters
     (ii) List / Tuple → number of elements
     (iii) Dictionary → number of keys

In [14]:
#For Example 
name = "Nisha"
print(len(name))

5

# 2.Type Checking 

You can check the data type of any value or variable in python using the type() function.

     print(type("abc")) # will give you <class 'str'>

In [8]:
#for example 
var= "helloe"
print(type(var))

<class 'str'>

# 3.Type conversion / Type Casting

:- you can convert data into different data type using function 
e.g

     float()
     int()

:- Python supports a wide variety of built-in functions such as int(), float(), str(), ord(), hex(), tuple(), set(), list(), and dict() that are used for type casting.

:- Their are two type of type casting such as :- 

      (1)Explicit Type Casting:- The programmer manually converts one data type into another using functions like int(), float(), str().

      (2)Implicity type casting :- :-Implicit type casting is when Python   automatically converts one data type into another without any instruction from the programmer.

In [1]:
# extplicit typecasting:
a= "23"
b= "32"
c= int(a) +int(b)
print(c)

55

In [2]:
# Implicit type casting 
c=1.9                 #<class "int">
d=8                   #<class "float">
print(c+d)            #9.9
                      #<class "float">

9.9

In [18]:
#For example 
name_of_the_user = input("Enter your name")
length_of_name = len(name_of_the_user)
print(type(name_of_the_user))
print(type(length_of_name)) 
print("Number of letters in your name : " + str(length_of_name))

Enter your name nisha

<class 'str'>
<class 'int'>
Number of letters in your name : 5

# c
# Mathematical operations

Description 

Learn to use the basic mathematical operators, +, -, *, /, // and **

        # PEMDAS:-
          parenthese, Exponents, Multiplication/Division, Additions/Subtraction.


PAUSE 1. What is the output of this code?

         print(3*3 +3/3 -3)

PAUSE 2. Change the code so if output 3?

         print(3*3 + 3/3 -3)

In [3]:
print(123+234) #add
print(6-3)     #sub
print(3*4)     #mult
print(9/3)     #div
print(5//3)    #expon
print(3**4)    #parent

357
3
12
3.0
1
81

# D
# Number Mainpulation 
# 1.Flooring a Number 

You can floor a number or remove all decimal places using the int()  function which converts a floating point number (with decimal places) into an integer (Whole number).

    int(3.738492 ) # Becomes 3

In [3]:
bmi = 84/1.65 **2
print(bmi)
print(int(bmi))

30.85399449035813
30

# 2.Rounding a Number
However, if you want to rount a decimal number to the nearest whole number using the traditional mathematical way, where anything over .5 rounds up and anything below round. Then you can use the python round() function.

In [7]:
bmi1 = 84/1.65 **2
print(round(bmi1))

31

# 3.Assignment Operators

Assignment operators such as the addition assignmanet operator += will add the number on the right to the original value of the variable on the left and assign the new value to the variable.

           +=
           -=
           *=
           /=

In [8]:
#For example 
score =0
#use scores a point 
score +=1 
print(score)

#f-strings
print("your score is "+ str(score))

1
your score is 1

# 4.f-strings

In Python, we can use f-strings to insert a variable or an expression into a string.

    age =12
    print(f"I am {age} years old")

In [9]:
#For example 

score =0
height = 1.8
is_winning =True 
print(f"your score is = {score}, your height is {height}. yor are winning is {is_winning}")

your score is = 0, your height is 1.8. yor are winning is True

# E
# Tip Calculator Project
If the bill was $150.00, split between 5 people, with 12% tip.

    (150.00 / 5) * 1.12 = 33.6
After formatting the result to 2 decimal places = 33.60

# DEMO :-
The link is below. Check it:-

In [10]:
url = "https://docs.python.org/3/tutorial/floatingpoint.html"
print(url)

https://docs.python.org/3/tutorial/floatingpoint.html

In [11]:
from IPython.display import HTML, display

display(HTML('<a href="https://docs.python.org/3/tutorial/floatingpoint.html">Python Floating Point Tutorial</a>'))

In [12]:
from IPython.display import HTML, display

display(HTML("""
<font color="blue">This is blue text</font><br>
<font color="red">This is red text</font><br>
<a href="https://docs.python.org/3/tutorial/floatingpoint.html">This is the link text</a>
"""))

Click run to run the final project you will build.

      Welcome to the tip calculator!
      What was the total bill? $124.56
      How much tip would you like to give? 10,12, or 15? 12 
      How many people to split the bill? 7
      Each person should pay: $18.93

In [15]:
print("Welcome to the tip calculator!")
bill = float(input("what was the total bill? $"))
tip =int(input("What percentage tip would you like to give? 10 12 15"))
people =int(input("How many people to split the bill?"))
tip_as_percent= tip/100
total_tip_amount =bill *tip_as_percent
total_bill = bill+ total_tip_amount
bill_per_person = total_bill / people
final_amount = round(bill_per_person, 2)
print(f"Each person should pay: ${final_amount}")

Welcome to the tip calculator!

what was the total bill? $ 155.67
What percentage tip would you like to give? 10 12 15 4
How many people to split the bill? 5

Each person should pay: $32.38